.search {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid transparent; /* Remove default border */
  outline: none; /* Remove default focus outline */
  transition: box-shadow 0.3s; /* Add transition for smooth effect */
  margin: 0.1rem;
  /* Add blue box-shadow on focus */
  &:focus {
    box-shadow: 0 0 0 2px rgba(59, 146, 217, 0.7); /* Adjust color and size as needed */
  }
}
@media (max-width: 450px) {

    .search{
        width: 6rem;
    }
}
